<%- include('partials/header') %>
  <!-- <style>
  .fpbg{
    /* background-image: url("/images/feed1.jpg"); */
    background-color: #F3F2EF;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
  }
  
    </style> -->

  <div class="fpbg">
    <br>
    <% posthelpues.reverse().forEach(function(user){ %>
      <div style="padding: 2%" class="jumbotron">
        <div class="row">
          <div class="col-8">
            <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">
              <%=user.name%>
            </h2>

            <%if(user.age){%>
              Age: <%=user.age%>
                <%}%>

          </div>
          <div class="col-4">
            <p style="display: table-cell" style="color: black;font-weight: 900;font-variant: small-caps;">
              <%=user.city%> , <%=user.state%>
            </p>
          </div>
        </div>
        <hr />
        <p style="font-weight: bold" class="first">
          Sector: <%=user.sector%> | Type of Job required: <%=user.Jyl%>
        </p>
        <div class="row">
          <div class="col-12" style="  padding-left: 15px; padding-top: 10px;">


            <%if(user.EorS){%>
              Previous experience/Skills: <%=user.EorS%>
                <%}%>
                  <p style="text-align: justify;word-break: break-word;white-space: pre-line;">
                    <%=user.content%>
                  </p>

                  <%if(user.contact){%>
                    Contact : <%=user.contact%>
                      <%}%><br>
                        <%if(user.email){%>
                          Email : <a href="mailto:<%=user.email%>">
                            <%=user.email%>
                          </a>
                          <%}%>
          </div>



        </div>






        <p>
          <a href="tel:<%=user.contact%>"> Call </a>/
          <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
        </p>
        Posted On: <small>
          <%=user.time%>
        </small>
        <br />
      </div>

      <% }) %>



  </div>
  </div>
  <%- include('partials/footer') %>