<%- include('partials/header') %>
  <%- include('partials/subbar')  %>
    <%var count=0; posthelps.reverse().forEach(function(user){
       %>   
    
     <%if(user.state===statesearch && user.city=== citysearch && user.requirement===requirementsearch){ count+=1;%>
      <div style="padding: 2%" class="jumbotron">
        <div class="row">
          <div class="col-8">
            <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">   
              <%=user.name%>
            </h2> 
          </div>
          <div class="col-4">
            <p style="display: table-cell">
              <%=user.city%> , <%=user.state%>
            </p>
          </div>
        </div>
        <hr />
        <p style="font-weight: bold" class="first">
          Requirement : <%=user.requirement%> | Covid Test: <%=user.result%>
        </p>
        <div class="row">
          <div class="col-8" style="  padding-left: 15px; padding-top: 10px;">
            <p style="text-align: justify;">
              <%=user.content%>
            </p>
            <br>
            Contact : <%=user.contact%>
          </div>
          <div class="col-4">
            <p>
              Age: <%=user.age%>
                <br />
                <%if(user.temperature){%>
                Temperature: <%=user.temperature%>°F
                <%}%>
                  <br />
                  <%if(user.count){%>
                  SPO2 Count: <%=user.count%>
                  <%}%>
            </p>

          </div>
        </div>



        <br />


        <p>
          <a href="tel:<%=user.contact%>"> Call </a>/
          <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
        </p>
      </div>
      <br>
   <%} else if(user.state=== statesearch && user.requirement===requirementsearch && !citysearch){count+=1; %>
      <div style="padding-top: 2%" class="jumbotron">
        <div class="row">
          <div class="col-8">
            <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">   
              <%=user.name%>
            </h2> 
          </div>
          <div class="col-4">
            <p style="display: table-cell">
              <%=user.city%> , <%=user.state%>
            </p>
          </div>
        </div>
        <hr />
        <p style="font-weight: bold" class="first">
          Requirement : <%=user.requirement%> | Covid Test: <%=user.result%>
        </p>
        <div class="row">
          <div class="col-8" style="  padding-left: 15px; padding-top: 10px;">
            <p style="text-align: justify;">
              <%=user.content%>
            </p>
            <br>
            Contact : <%=user.contact%>
          </div>
          <div class="col-4">
            <p>
              Age: <%=user.age%>
                <br />
                <%if(user.temperature){%>
                Temperature: <%=user.temperature%>°F
                <%}%>
                  <br />
                  <%if(user.count){%>
                  SPO2 Count: <%=user.count%>
                  <%}%>
            </p>

          </div>
        </div>



        <br />


        <p>
          <a href="tel:<%=user.contact%>"> Call </a>/
          <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
        </p> Posted On: <small><%=user.time%></small>
        <br/>
      </div>
      <br>
  
      <%}  else if(user.state=== statesearch && user.city===citysearch && !requirementsearch){count+=1; %>
        <div style="padding-top: 2%" class="jumbotron">
          <div class="row">
            <div class="col-8">
              <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">   
                <%=user.name%>
              </h2> 
            </div>
            <div class="col-4">
              <p style="display: table-cell">
                <%=user.city%> , <%=user.state%>
              </p>
            </div>
          </div>
          <hr />
          <p style="font-weight: bold" class="first">
            Requirement : <%=user.requirement%> | Covid Test: <%=user.result%>
          </p>
          <div class="row">
            <div class="col-8" style="  padding-left: 15px; padding-top: 10px;">
              <p style="text-align: justify;">
                <%=user.content%>
              </p>
              <br>
              Contact : <%=user.contact%>
            </div>
            <div class="col-4">
              <p>
                Age: <%=user.age%>
                <br />
                <%if(user.temperature){%>
                Temperature: <%=user.temperature%>°F
                <%}%>
                  <br />
                  <%if(user.count){%>
                  SPO2 Count: <%=user.count%>
                  <%}%>
              </p>
  
            </div>
          </div>
  
  
  
          <br />
  
  
          <p>
            <a href="tel:<%=user.contact%>"> Call </a>/
            <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
          </p> Posted On: <small><%=user.time%></small>
          <br/>
        </div>
        <br>
    
      
      <%} else if(user.requirement===requirementsearch && !statesearch){count+=1;%>
        <div style="padding: 2%" class="jumbotron">
          <div class="row">
            <div class="col-8">
              <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">   
                <%=user.name%>
              </h2> 
            </div>
            <div class="col-4">
              <p style="display: table-cell">
                <%=user.city%> , <%=user.state%>
              </p>
            </div>
          </div>
          <hr />
          <p style="font-weight: bold" class="first">
            Requirement : <%=user.requirement%> | Covid Test: <%=user.result%>
          </p>
          <div class="row">
            <div class="col-8" style="  padding-left: 15px; padding-top: 10px;">
              <p style="text-align: justify;">
                <%=user.content%>
              </p>
              <br>
              Contact : <%=user.contact%>
            </div>
            <div class="col-4">
              <p>
                Age: <%=user.age%>
                <br />
                <%if(user.temperature){%>
                Temperature: <%=user.temperature%>°F
                <%}%>
                  <br />
                  <%if(user.count){%>
                  SPO2 Count: <%=user.count%>
                  <%}%>
              </p>
  
            </div>
          </div>
  
  
  
          <br />
  
  
          <p>
            <a href="tel:<%=user.contact%>"> Call </a>/
            <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
          </p> Posted On: <small><%=user.time%></small>
          <br/>
        </div>
        <br>
        <%} else if(user.state===statesearch && !requirementsearch && !citysearch){count+=1;%>
          <div style="padding: 2%" class="jumbotron">
            <div class="row">
              <div class="col-8">
                <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">   
                  <%=user.name%>
                </h2> 
              </div>
              <div class="col-4">
                <p style="display: table-cell">
                  <%=user.city%> , <%=user.state%>
                </p>
              </div>
            </div>
            <hr />
            <p style="font-weight: bold" class="first">
              Requirement : <%=user.requirement%> | Covid Test: <%=user.result%>
            </p>
            <div class="row">
              <div class="col-8" style="  padding-left: 15px; padding-top: 10px;">
                <p style="text-align: justify;">
                  <%=user.content%>
                </p>
                <br>
                Contact : <%=user.contact%>
              </div>
              <div class="col-4">
                <p>
                  Age: <%=user.age%>
                <br />
                <%if(user.temperature){%>
                Temperature: <%=user.temperature%>°F
                <%}%>
                  <br />
                  <%if(user.count){%>
                  SPO2 Count: <%=user.count%>
                  <%}%>
                </p>
    
              </div>
            </div>
    
    
    
            <br />
    
    
            <p>
              <a href="tel:<%=user.contact%>"> Call </a>/
              <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
            </p> Posted On: <small><%=user.time%></small>
            <br/>
          </div>
          <br>
      
        <% }  %>
        
      
      <% }); if(count==0){%>
        <div style="padding: 2%" class="jumbotron">
          <h1>No posts available</h1>
          </div>
        <% }  %>

        </div>
        </div>
        <%- include('partials/footer') %>