<%- include("partials/headerlogout") %>
<style>
  td {
    text-align: left;
    font-size: 20px;
  }
  .head-page {
    font-size: 30px;
  }
  table {
      table-layout:fixed;
      width:100%;
  }
  td {
      white-space: nowrap;
      overflow: auto;
  }
</style>
<style>
  /* popover */
  details[data-popover] {
    display: inline;
    position: relative;
  }

  details[data-popover]>summary:focus {
    outline: none;
  }

  details[data-popover]>summary::-webkit-details-marker {
    display: none;
  }

  details[data-popover]>summary {
    list-style: none;
    text-decoration: underline dotted #006B96;
  }

  details[data-popover]>summary+* {
        position: absolute;
        display: block;
        z-index: 1;
        width: 45vw;
        animation: spin 3s linear infinite;
        border-radius: 10%;
        padding: 10px;
        background: white;
      }
      @keyframes spin { 
        0%{
          border: dotted 1px #006B96;
        }
        50%{
          border: dashed 2px #006B96;
        }
  100% { 
    border: groove 3px #006B96;
  }
}


  details[data-popover]>*+* {
    /* hide detail elements that would ruin the popover */
    display: none;
  }

  details[data-popover="up"]>summary+* {
    bottom: calc(0.5rem + 100%);
    right: 50%;
    transform: translateX(50%);
  }

  details[data-popover="down"]>summary+* {
    top: calc(0.5rem + 100%);
    right: 50%;
    transform: translateX(50%);
  }

  details[data-popover="left"]>summary+* {
    right: calc(1rem + 100%);
    bottom: 50%;
    transform: translateY(50%);
  }

  details[data-popover="right"]>summary+* {
    left: calc(0.3rem + 100%);
    bottom: 50%;
    transform: translateY(50%);
  }

  /* wrapper setup */
  .wrapper {
    width: 100%;

  }
</style>
<div class="container-fluid">
  <div>
    <div class="container border" style="background-color: #F3F3F3;height: 95vh;">
    <div class="text-center" style="padding-top: 20px; padding-bottom: 20px;">
      <span class="head-page">Welcome <%- data[0].fname %></span>
    </div>
      <br />
      <br />
      <div class="container-fluid">
        <table class="table">
          <tr><td>username: </td><td><%- data[0].user %> </td></tr>
          <tr><td>first name: </td><td><%- data[0].fname %> </td></tr>
          <tr><td>last name: </td><td><%- data[0].lname %> </td></tr>
          <tr><td>About : </td><td><%- data[0].description %> </td></tr>
          <tr><td>city/town/village name: </td><td><%- data[0].city %> </td></tr>
          <tr><td>Contact Information: </td><td><%- data[0].phone %> </td></tr>
        </table>
      </div>
    </div>
    <br />
    <div class="container-fluid text-center"><form method="get" action="/profiledit">
          <button type="submit" class="btn btn-outline-primary" style="margin-bottom: 10px">Edit Profile</button>
        </form>
        <br />
    </div>
  </div>
</div>
<hr/>
<div><center>
  <h1>My posts</h1>
</center>
<br/>
</div>

<div>
  <center>
    <h3>To seek help</h3>
  </center>
  
  <% posthelps.forEach(function(user){ %>
    <% if(user.userposthelp==usernameafterlogin) {%>
    <div style="padding: 2%" class="jumbotron">
  <div class="row">
    <div class="col-8">
      <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">
        <%=user.name%> </h2>
        <p>
  
          <%if(user.age){%>
            Age: <%=user.age%> ;&ensp;
            <% } %>
  
            <%if(user.temperature){%>
            Temperature: <%=user.temperature%>°F ;&ensp;
            <%}%>
  
              <%if(user.count){%>
              SPO2 Count: <%=user.count%>
              <%}%>
        </p>
  
    </div>
    <div class="col-4">
      <p style="display: table-cell" style="color: black;font-weight: 900;font-variant: small-caps;">
  
  
        <%=user.city%> , <%=user.state%>
      </p>
    </div>
  </div>
  <hr />
  <p style="font-weight: bold" class="first">
    Requirement : <%=user.requirement%> | Covid Test: <%=user.result%>
  </p>
  <div class="row">
    <div class="col-12" style="  padding-left: 15px;">
      <p style="text-align: justify;word-break: break-word;white-space: pre-line;">
        <%=user.content%>
      </p>
     <div class="wrapper">
        <details data-popover="right">
          <summary>
            Click here to Contact
          </summary>
          <div>
            <p>
              Contact : <%=user.contact%>
            </p>
            <a href="tel:<%=user.contact%>"> Call </a>/
            <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
          </div>
        </details>
      </div>
    </div>
    <div class="col-4">
  
    </div>
  </div>
  
  
  
  <br />
  
  
  
  Posted On: <small><%=user.time%></small>
  <br/>
  </div>
  <br>
  <%}%>
  <% }) %>

  <% posthelpues.forEach(function(user){ %>
    <% if(user.userposthelpue==usernameafterlogin) {%>

    <div style="padding: 2%" class="jumbotron">
      <div class="row">
        <div class="col-8">
          <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">
            <%=user.name%>
          </h2>

          <%if(user.age){%>
            Age: <%=user.age%>
              <%}%>

        </div>
        <div class="col-4">
          <p style="display: table-cell" style="color: black;font-weight: 900;font-variant: small-caps;">
            <%=user.city%> , <%=user.state%>
          </p>
        </div>
      </div>
      <hr />
      <p style="font-weight: bold" class="first">
        Sector: <%=user.sector%>   <%if(user.Jyl){%>| Type of Job required: <%=user.Jyl%>   <%}%>
      </p>
      <div class="row">
        <div class="col-12" style="  padding-left: 15px; padding-top: 10px;">


          <%if(user.EorS){%>
            Previous experience/Skills: <%=user.EorS%>
              <%}%>
                <p style="text-align: justify;word-break: break-word;white-space: pre-line;">
                  <%=user.content%>
                </p>

                
                        <div class="wrapper">
                          <details data-popover="right">
                            <summary>
                              Click here to Contact
                            </summary>
                            <div>
                              <p>
                                <%if(user.contact){%>
                                  Contact : <%=user.contact%>
                                    <%}%>
                             <br/>
                              <a href="tel:<%=user.contact%>"> Call </a>/
                              <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
                            </p>
                      <%if(user.email){%>
                        Email : <a href="mailto:<%=user.email%>">
                          <%=user.email%>
                        </a>
                        <%}%>
                            </div>
                          </details>
                        </div>
        </div>



      </div>



<br/>

   
      Posted On: <small>
        <%=user.time%>
      </small>
      <br />
    </div>
    <%}%>
    <% }) %>
    <% posthelpndcs.reverse().forEach(function(user){ %>   
      <% if(user.userposthelpndc==usernameafterlogin) {%>

      <div style="padding: 2%" class="jumbotron">
    <div class="row">
      <div class="col-8">
        <h2 style="font-size: 30px; display: table-cell; vertical-align: middle" class="display-4">
          <%=user.name%>
        </h2>
       
       
          Age: <%=user.age%>
            
         
      
      </div>
      <div class="col-4">
        <p style="display: table-cell" style="color: black;font-weight: 900;font-variant: small-caps;">
          <%=user.city%> , <%=user.state%>
        </p>
      </div>
    </div>
    <hr />
    <p style="font-weight: bold" class="first">
      Natural disaster type : <%=user.ndt%> 
    </p>
    <div class="row">
      <div class="col-12" style="  padding-left: 15px; padding-top: 10px;">
        <p style="text-align: justify;word-break: break-word;white-space: pre-line;">
          <%=user.content%>
        </p>
        <br>
        <div class="wrapper">
          <details data-popover="right">
            <summary>
              Click here to Contact
            </summary>
            <div>
              <p>
                Contact : <%=user.contact%>
              </p>
              <a href="tel:<%=user.contact%>"> Call </a>/
              <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=user.contact%>">Whatsapp</a>
            </div>
          </details>
        </div>
      </div>
     
    </div>



    <br />


    
    Posted On: <small><%=user.time%></small>
    <br/>
  </div>
  <br>
  <%}%>
  <% }) %>
</div>

<div>
  <center>
    <h3>To provide help/service</h3>
  </center>
  <% postsers.reverse().forEach(function(post){ %>
    <% if(post.userpostService==usernameafterlogin) {%>

    <div style="padding: 2%" class="jumbotron">
      <div class="row">
        <div class="col-8">
          <h2 style="word-break: break-word;font-size: 35px; display: table-cell; vertical-align: middle"
            class="display-4">
            <%=post.pname%>
          </h2>
        </div>
        <div class="col-4">
          <p style="display: table-cell">
            <%if(post.city){%>
              <%=post.city%>,
                <%}%>
                  <%=post.state%>
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <p style="font-weight: bold;" class="first">
          Type of Organization : <%=post.type%> | Service Offered : <%=post.help%>
        </p>
        <p style="text-align: justify;">
          <%=post.detail%>
        </p>
        <p>
        </p>
      </div>
      <div class="wrapper">
        <details data-popover="right">
          <summary>
            Click here to Contact
          </summary>
          <div>
            <p>
              Contact : <%=post.phone%>
            </p>
            <a href="tel:<%=post.phone%>"> Call </a>/
            <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=post.phone%>">Whatsapp</a>
          </div>
        </details>
      </div>
      </p> Posted On: <small>
        <%=post.time%>
      </small>
      <br />
    </div>
    <br>
    <%}%>
    <% }) %></div>
<%- include("partials/footer") %>
