<%- include('partials/headerlogout') %>

    <%-include("subbar-services")%>
        <!-- <style>
      .fpbgs {
        background-image: url("/images/feed1.jpg");
      background-color: #F3F2EF;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }
    </style> -->


        <style>
            .comment {
                margin-top: 50px;
                background-color: white;
                display: flex;
                justify-self: center;
            }
            
            .comment input {
                width: 300px;
                height: 100px;
            }
            
            .card {
                border: none;
                border-radius: 4px;
                background-color: #cbd6dd;
                margin-bottom: 8px;
            }
            
            .user-img {
                margin-top: 4px;
            }
            
            .reply small {
                color: #b7b4b4
            }
            
            .reply small:hover {
                color: green;
                cursor: pointer
            }
        </style>

        <div class="fpbgs">
            <br>

            <% postsers.reverse().forEach(function(post){ %>

                <div style="padding: 2%" class="jumbotron">
                    <div class="row">
                        <div class="col-8">
                            <h2 style="word-break: break-word;font-size: 35px; display: table-cell; vertical-align: middle" class="display-4">
                                <%=post.pname%>
                            </h2>
                        </div>
                        <div class="col-4">
                            <p style="display: table-cell">
                                <%=post.city%> ,
                                    <%=post.state%>
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <p style="font-weight: bold; " class="firs">
                            Type of Organization :
                            <%=post.type%> | Service Offered :
                                <%=post.help%>
                        </p>
                    </div>
                    <div class="row">
                        <div style="  padding-left: 15px; padding-right: 15px; padding-top: 10px;white-space: pre-line;">
                            <p style="text-align: justify;">
                                <%=post.detail%>
                            </p>
                            <br><br> Contact :
                            <%=post.phone%>
                        </div>

                    </div>



                    <br><br>


                    <p>
                        <a href="tel:<%=post.phone%>"> Call </a>/
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=+91<%=post.phone%>">Whatsapp</a>
                    </p>
                    </p> Posted On: <small>
            <%=post.time%>
          </small>
                    <br />
                </div>

                <!-----------------------CODE MANNAN----------------------->
                <% for(var i=0; i < post.comments.length; i++) 
                { %>


                    <% for(var j=0; j < commentData.length; j++) { %>
                        <% if(String(commentData[j]._id)==String(post.comments[i])) 
                            {%>
                            <%
                              
                                    var  dateString = String(commentData[j].time);
                                
                                    dateString = dateString.substr(0,15)
    
    
                            %>


                                <div class="container">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-8">

                                            <div class="card p-3">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary"><%=commentData[j].name%></small> <small class="font-weight-bold"><%=commentData[j].content%></small></span>                                                        </div> <small><%=dateString%></small>
                                                </div>
                                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                                    <div class="reply px-4"> <small>Reply</small>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%  
                                break %>

                                    <%}
                        
                        
                        
                        %>

                                        <%}%>


                                            <% } %>


        </div>

        <div class="jumbotron comment">
            <form method="post" action="">
                <input type="text" name="content" placeholder="write a comment..." required>

                <button type="submit" style="background-color: #006b96" class="btn btn-primary" name="comment" value="<%=post._id %>">Comment</button>


            </form>
        </div>
        <% }) %>
            <%- include("partials/footer") %>